<section class="max-w-2xl md:max-w-4xl m-auto mb-20">
    <h3 class="text-2xl font-bold text-fg dark:text-dark-fg mb-8">Sobre Mí</h3>
    <article class="w-full m-auto md:max-w-3xl bg-white dark:bg-[#181818] p-6 rounded-lg shadow-md">
        <ul class="w-full md:w-2xl m-auto text-fg dark:text-dark-fg text-pretty text-justify hyphens-auto">
            <li>
                <p>
                    Me especializo en Frontend, cuento con una sólida base en Node.js y bases de datos, enfocandome en crear aplicaciones funcionales y soluciones que realmente aporten valor.
                </p> 
            </li>
            <div class="relative my-6">
                <div class="absolute inset-0 flex items-center">
                    <div class="w-full border-t border-secondary dark:border-dark-secondary opacity-50"></div>
                </div>
                <div class="relative flex justify-center">
                    <span class="px-3 bg-white dark:bg-[#181818] text-secondary dark:text-dark-secondary text-sm">
                        ✦
                    </span>
                </div>
            </div>
            <li>
                <p>
                    Me destaco por mi capacidad para resolver problemas y mi adaptabilidad a diferentes tecnologías, lo que me permite abordar desafíos con eficacia y encontrar soluciones óptimas.
                </p>
            </li>
        </ul>
    </article>
</section>
