<article class="bg-white dark:bg-[#181818] p-6 rounded-xl shadow-sm hover:shadow-none hover:inset-shadow-sm inset-shadow-neutral-800 sm:w-xl md:w-2xl transition-shadow">
    <img [src]="project().image" [alt]="project().name" class="w-sm m-auto">
    <h4 class="text-xl font-semibold text-secondary dark:text-dark-secondary my-2">{{project().name}}</h4>
    <p class="text-fg dark:text-dark-fg mb-4">{{project().description}}</p>
    <div class="flex justify-between items-center gap-2 mt-4">
      <div class="flex gap-4 items-center flex-wrap">
        @for(tec of project().technologies; track $index) {
        <div class="flex flex-col items-center">
          <img src="icons/{{tec.id}}.png" [alt]="tec.name" class="h-8 w-8 object-contain mb-1">
          <span class="text-sm font-medium text-fg-2 dark:text-dark-fg-2 text-center"> {{tec.name}} </span>
        </div>
        }
      </div>
      <div class="flex gap-6 items-center min-w-max">
        @if(project().url) {
        <a [href]="project().url" target="_blank" class="hover:scale-110 transition-transform">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#181818" class="dark:invert">
          <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/>
          </svg>
        </a>
        }
        @if(project().github) {
        <a [href]="project().github" target="_blank" class="hover:scale-110 transition-transform">
          <img src="icons/github-mark.svg" alt="Ir al repositorio" class="h-8 w-8 dark:invert">
        </a>
        }
      </div>
    </div>
  </article>