<section class="max-w-6xl mx-auto mb-20">
    <h3 class="text-2xl font-bold text-fg mb-8">Habilidades Técnicas</h3>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      <div class="bg-white p-4 rounded-lg text-center shadow-sm">
        <div class="bg-sky-500 w-12 h-12 rounded-full mx-auto mb-2"></div>
        <span class="text-fg-2">Frontend</span>
      </div>
      <div class="bg-white p-4 rounded-lg text-center shadow-sm">
        <div class="bg-emerald-500 w-12 h-12 rounded-full mx-auto mb-2"></div>
        <span class="text-gray-700">Backend</span>
      </div>
      <div class="bg-white p-4 rounded-lg text-center shadow-sm">
        <div class="bg-amber-500 w-12 h-12 rounded-full mx-auto mb-2"></div>
        <span class="text-gray-700">DevOps</span>
      </div>
      <div class="bg-white p-4 rounded-lg text-center shadow-sm">
        <div class="bg-purple-500 w-12 h-12 rounded-full mx-auto mb-2"></div>
        <span class="text-gray-700">DBs</span>
      </div>
    </div>
  </section>
