<section class="max-w-6xl m-auto mb-20 flex gap-4">
    <div class="bg-white rounded-2xl p-8 shadow-lg border-l-4 border-gruvbox-green-2 flex-10/12">
      <h2 class="text-4xl font-bold text-gruvbox-gray mb-4">
        Hola, soy <span class="text-gruvbox-green">Facundo Pidal</span>
      </h2>
      <p class="text-gruvbox-gray-2 text-lg mb-6 max-w-2xl">
          Desarrollador Web.
      </p>
      <button class="bg-gruvbox-yellow hover:bg-gruvbox-yellow-2 text-white px-6 py-3 rounded-lg transition-all transform hover:scale-105">
        Ver proyectos destacados
      </button>
    </div>
    <div class="bg-white rounded-2xl p-8 shadow-lg border-r-4 border-gruvbox-green-2">
      <h3 class="text-3xl font-extrabold text-gruvbox-green">{{currentTime}}</h3>
      
      
    </div>
  </section>