<section class="max-w-4xl m-auto mb-20 ">
    <h3 class="text-2xl font-bold text-gruvbox-gray mb-8">Experiencia</h3>
    <article class="w-4xl m-auto bg-white p-6 rounded-lg shadow-md">
        <h4 class="text-xl font-bold text-gruvbox-green-2 mb-2">ARWI</h4>
        <span class="text-gruvbox-gray-2 mr-0">Diciembre 2024</span>
        <p class="text-gruvbox-gray mb-4 mx-auto max-w-xl">Desarrollé en conjunto una aplicación de gestión agropecuaria utilizando AppSheet. Implementamos toma de asistencia, asignación de tareas, carga de datos de tensiómetros y lluvia, visualización de gráficos, etc.</p>
    </article>
</section>
