<header class="backdrop-blur-xs max-w-5xl mx-auto sticky top-0 z-10 pt-5 rounded-b-4xl">
    <nav class="bg-white dark:bg-[#181818] shadow-md rounded-full px-8 py-4 mb-12 max-w-5xl mx-auto">
        <div class="flex justify-evenly font-semibold">
            <a href="#" class="text-tertiary hover:text-tertiary-2 hover:scale-110 transition-all">Sobre mí</a>
            <a href="#" class="text-tertiary hover:text-tertiary-2 hover:scale-110 transition-all">Experiencia</a>
            <a href="#" class="text-tertiary hover:text-tertiary-2 hover:scale-110 transition-all">Contacto</a>
        </div>
    </nav>
</header>