<div class="max-w-sm mx-auto bg-white shadow-lg rounded-xl p-6 my-4">
    <div class="text-center">
      <h2 class="text-2xl font-bold text-gray-800">{{ weather?.location?.name }}</h2>
      <p class="text-gray-600">{{ weather?.location?.region }}, {{ weather?.location?.country }}</p>
    </div>
  
    <div class="flex items-center justify-center my-4">
      <div class="text-center">
        <h3 class="text-4xl font-bold text-blue-500">{{ weather?.current?.temp_c }}°C</h3>
        <p class="text-lg text-gray-500">{{ weather?.current?.condition?.text }}</p>
      </div>
      <div class="ml-4">
        <!-- <img [src]="'https:' + weather?.current?.condition?.icon" alt="Weather Icon" class="w-24 h-24" /> -->
      </div>
    </div>
  
    <div class="mt-4 text-gray-600 text-sm">
      <p><strong>Hora local:</strong> {{ weather?.location?.localtime }}</p>
      <p><strong>Humedad:</strong> {{ weather?.current?.humidity }}%</p>
      <p><strong>Viento:</strong> {{ weather?.current?.wind_kph }} km/h</p>
    </div>
  </div>