@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #fbf1c7;
    --color-secondary: #98971a;  
    --color-secondary-2: #79740e;   
    --color-fg: #282828;
    --color-fg-2: #504945;   
    --color-tertiary: #d79921; 
    --color-tertiary-2: #b57614;  
    --color-gruvbox-red: #cc241d;
    --color-gruvbox-red-2: #9d0006;

    --color-dark-primary: #1e071b;
    --color-dark-secondary: #8c97b3;
    --color-dark-secondary-2: #492a54;  
    --color-dark-fg: #ddd;
    --color-dark-fg-2: #a190b1;   
    --color-dark-tertiary: #ebf5ad; 
    --color-dark-tertiary-2: #ebf5adaa; 
}

@utility fade-in{
    animation: fadeIn ease-in-out 0.5s;
    -webkit-animation: fadeIn ease-in-out 0.5s;
    -moz-animation: fadeIn ease-in-out 0.5s;
    -o-animation: fadeIn ease-in-out 0.5s;
    -ms-animation: fadeIn ease-in-out 0.5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}


